<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellHeight</key>
		<integer>16</integer>
		<key>cellWidth</key>
		<integer>16</integer>
		<key>gridColumns</key>
		<integer>5</integer>
		<key>gridRows</key>
		<integer>5</integer>
		<key>xOffset</key>
		<integer>2</integer>
		<key>yOffset</key>
		<integer>-4</integer>
		<key>system</key>
		<string>NES</string>
		<key>code</key>
		<string>mm2</string>
		<key>label</key>
		<string>Mega Man 2</string>
		<key>year</key>
		<integer>1988</integer>
		<key>bosses</key>
		<array>
			<dict>
				<key>code</key>
				<string>air_man</string>
				<key>label</key>
				<string>Air Man</string>
				<key>weapon</key>
				<string>Air Shooter</string>
				<key>weaponCode</key>
				<string>A</string>
			</dict>
			<dict>
				<key>code</key>
				<string>bubble_man</string>
				<key>label</key>
				<string>Bubble Man</string>
				<key>weapon</key>
				<string>Bubble Lead</string>
				<key>weaponCode</key>
				<string>B</string>
			</dict>
			<dict>
				<key>code</key>
				<string>crash_man</string>
				<key>label</key>
				<string>Crash Man</string>
				<key>weapon</key>
				<string>Crash Bomb</string>
				<key>weaponCode</key>
				<string>C</string>
			</dict>
			<dict>
				<key>code</key>
				<string>flash_man</string>
				<key>label</key>
				<string>Flash Man</string>
				<key>weapon</key>
				<string>Time Stopper</string>
				<key>weaponCode</key>
				<string>F</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Heat Man</string>
				<key>code</key>
				<string>heat_man</string>
				<key>weapon</key>
				<string>Atomic Fire</string>
				<key>weaponCode</key>
				<string>H</string>
			</dict>
			<dict>
				<key>code</key>
				<string>metal_man</string>
				<key>label</key>
				<string>Metal Man</string>
				<key>weapon</key>
				<string>Metal Blade</string>
				<key>weaponCode</key>
				<string>M</string>
			</dict>
			<dict>
				<key>code</key>
				<string>quick_man</string>
				<key>label</key>
				<string>Quick Man</string>
				<key>weapon</key>
				<string>Quick Boomerang</string>
				<key>weaponCode</key>
				<string>Q</string>
			</dict>
			<dict>
				<key>code</key>
				<string>wood_man</string>
				<key>label</key>
				<string>Wood Man</string>
				<key>weapon</key>
				<string>Leaf Shield</string>
				<key>weaponCode</key>
				<string>W</string>
			</dict>
		</array>
		<key>items</key>
		<array>
			<dict>
				<key>code</key>
				<string>etank</string>
				<key>label</key>
				<string>Energy Tank</string>
				<key>min</key>
				<integer>0</integer>
				<key>max</key>
				<integer>4</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cellHeight</key>
		<integer>16</integer>
		<key>cellWidth</key>
		<integer>16</integer>
		<key>gridColumns</key>
		<integer>6</integer>
		<key>gridRows</key>
		<integer>6</integer>
		<key>xOffset</key>
		<integer>7</integer>
		<key>yOffset</key>
		<integer>-20</integer>
		<key>yDivide</key>
		<integer>8</integer>
		<key>system</key>
		<string>NES</string>
		<key>code</key>
		<string>mm3</string>
		<key>label</key>
		<string>Mega Man 3</string>
		<key>year</key>
		<integer>1990</integer>
		<key>bosses</key>
		<array>
			<dict>
				<key>label</key>
				<string>Gemini Man</string>
				<key>code</key>
				<string>gemini_man</string>
				<key>weapon</key>
				<string>Gemini Laser</string>
				<key>weaponCode</key>
				<string>GE</string>
				<key>tier</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Hard Man</string>
				<key>code</key>
				<string>hard_man</string>
				<key>weapon</key>
				<string>Hard Knuckle</string>
				<key>weaponCode</key>
				<string>HA</string>
				<key>tier</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Magnet Man</string>
				<key>code</key>
				<string>magnet_man</string>
				<key>weapon</key>
				<string>Magnet Missile</string>
				<key>weaponCode</key>
				<string>MA</string>
				<key>tier</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Needle Man</string>
				<key>code</key>
				<string>needle_man</string>
				<key>weapon</key>
				<string>Needle Cannon</string>
				<key>weaponCode</key>
				<string>NE</string>
				<key>tier</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Shadow Man</string>
				<key>code</key>
				<string>shadow_man</string>
				<key>weapon</key>
				<string>Shadow Blade</string>
				<key>weaponCode</key>
				<string>SH</string>
				<key>tier</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Snake Man</string>
				<key>code</key>
				<string>snake_man</string>
				<key>weapon</key>
				<string>Search Snake</string>
				<key>weaponCode</key>
				<string>SN</string>
				<key>tier</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Spark Man</string>
				<key>code</key>
				<string>spark_man</string>
				<key>weapon</key>
				<string>Spark Shock</string>
				<key>weaponCode</key>
				<string>SP</string>
				<key>tier</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Top Man</string>
				<key>code</key>
				<string>top_man</string>
				<key>weapon</key>
				<string>Top Spin</string>
				<key>weaponCode</key>
				<string>TO</string>
				<key>tier</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Doc Robot (Gemini)</string>
				<key>code</key>
				<string>doc_robot_gemini</string>
				<key>tier</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Doc Robot (Shadow)</string>
				<key>code</key>
				<string>doc_robot_shadow</string>
				<key>tier</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Doc Robot (Snake)</string>
				<key>code</key>
				<string>doc_robot_snake</string>
				<key>tier</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Doc Robot (Spark)</string>
				<key>code</key>
				<string>doc_robot_spark</string>
				<key>tier</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>label</key>
				<string>Break Man</string>
				<key>code</key>
				<string>break_man</string>
				<key>tier</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>items</key>
		<array>
			<dict>
				<key>code</key>
				<string>etank</string>
				<key>label</key>
				<string>Energy Tank</string>
				<key>min</key>
				<integer>0</integer>
				<key>max</key>
				<integer>9</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>system</key>
		<string>NES</string>
		<key>code</key>
		<string>mm4</string>
		<key>label</key>
		<string>Mega Man 4</string>
		<key>year</key>
		<integer>1991</integer>
		<key>bosses</key>
		<array>
			<dict>
				<key>label</key>
				<string>Bright Man</string>
				<key>code</key>
				<string>bright_man</string>
				<key>weapon</key>
				<string>Flash Stopper</string>
				<key>weaponCode</key>
				<string>F. STOPPER</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Dive Man</string>
				<key>code</key>
				<string>dive_man</string>
				<key>weapon</key>
				<string>Dive Missile</string>
				<key>weaponCode</key>
				<string>D. Missile</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Drill Man</string>
				<key>code</key>
				<string>drill_man</string>
				<key>weapon</key>
				<string>Drill Bomb</string>
				<key>weaponCode</key>
				<string>D. BOMB</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Dust Man</string>
				<key>code</key>
				<string>dust_man</string>
				<key>weapon</key>
				<string>Dust Barrier</string>
				<key>weaponCode</key>
				<string>D. BARRIER</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Pharaoh Man</string>
				<key>code</key>
				<string>pharaoh_man</string>
				<key>weapon</key>
				<string>Pharaoh Shot</string>
				<key>weaponCode</key>
				<string>P. SHOT</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Ring Man</string>
				<key>code</key>
				<string>ring_man</string>
				<key>weapon</key>
				<string>Ring Boomerang</string>
				<key>weaponCode</key>
				<string>R. BOOMERANG</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Skull Man</string>
				<key>code</key>
				<string>skull_man</string>
				<key>weapon</key>
				<string>Skull Barrier</string>
				<key>weaponCode</key>
				<string>S. BARRIER</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Toad Man</string>
				<key>code</key>
				<string>toad_man</string>
				<key>weapon</key>
				<string>Rain Flush</string>
				<key>weaponCode</key>
				<string>R. FLUSH</string>
			</dict>
		</array>
		<key>items</key>
		<array>
			<dict>
				<key>code</key>
				<string>balloon</string>
				<key>label</key>
				<string>Balloon</string>
				<key>min</key>
				<integer>0</integer>
				<key>max</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>code</key>
				<string>wire</string>
				<key>label</key>
				<string>Wire</string>
				<key>min</key>
				<integer>0</integer>
				<key>max</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
